<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'GKB_D_sign.ico' %}">
    <title>Department choice</title>
</head>
<body>
    <div class="logo">
        <img src="{% static 'gkblogo.png' %}" alt="logo">
    </div>
    	<form id="dept_choice" action="{% url 'dept' %}" method="GET"></form>
	<div class="button-container">
		<button form="dept_choice" type="submit" class="common_button"> <b>Вернуться к выбору отделений</b> </button>
	</div>
    <p class="center-top-text">Невыгруженные эпикризы по всем отделениям с 1 января 2023 года: {{ common_rows_number }} </p>
    <div class="table-container">
    {{ report|safe }}
    </div>
</body>
</html>
