<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <title>Department choice</title>
</head>
<body>
        <p class="center-top-text">Выберите отделение и нажмите кнопку "далее"</p>
    <div class="container">
    <form action="{% url 'ref_to_type' %}" method="POST">
        <table>
            {{ depts_list }}
        </table>
        <div class="button-container">
            <button type="submit" class="common_button">Выбрать</button>
        </div>
                          {% csrf_token %}
    </form>

    </div>
</body>
</html>
