<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'GKB_D_sign.ico' %}">
    <title>Выбор отделения</title>
</head>
<body>
    <div class="logo">
        <img src="{% static 'gkblogo.png' %}" alt="logo">
    </div>
        <p class="center-top-text">Выберите ваше отделение</p>
    <div class="container">
        <form id="dept_choice" action="{% url 'ref_to_type' %}" method="POST">
            <table>
            {{ depts_list }}
            {% csrf_token %}
            </table>
        </form>
    </div>
    <div class="button-container">
            <button form="dept_choice" type="submit" class="common_button">Выбрать</button>
    </div>
</body>
</html>
