<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <title>Department choice</title>
</head>
<body>
    <div class="container">
        <p class="center-top-text">{{ error_text }} Обратитесь к администратору.</p>
    <form action="{% url 'dept' %}" method="GET">
		<button type="submit" id="gt"> <b>Перезагрузить страницу</b> </button>
	</form>
    </div>
</body>
</html>
