<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
</head>
<body>
    <div class="container">
        <p class="center-top-text">Выберите отделение и нажмите кнопку "далее"</p>

    <form action="{% url 'reporting' %}" method="POST">
    <table>
        {{ depts_list }}

        {{ research_list }}
    </table>
        <button type="submit" id="ref" > <b>Построить отчет</b> </button>
                          {% csrf_token %}
    </form>
    <br>
    {% if messages %}
         {% for message in messages %}
         <p class="{{ message.tags }}" >{{ message }}</p><br>
         {% endfor %}
    {% endif %}
    </div>
</body>
</html>
