<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <title>Research choice</title>
</head>
<body>
        <p class="center-top-text">{{ chosen_dept }}</p>
        <p class="center-top-text">{{ doc }}</p>
    <div class="container">
        <p class="center-top-text">Выберите отделение и нажмите кнопку "далее"</p>

    <form action="{% url 'ref_to_output' chosen_dept %}" method="POST">
    <table>
        {{ types_list }}
        {{ date_buttons }}
    </table>
        <button type="submit" id="ref" > <b>Выбрать</b> </button>
                          {% csrf_token %}
    </form>

    </div>
</body>
</html>
