<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'GKB_D_sign.ico' %}">
    <title>Выбор исследований</title>
</head>
<body>
    <div class="logo">
        <img src="{% static 'gkblogo.png' %}" alt="logo">
    </div>
    <div class="classes_wrap">
        <p class="center-top-text">Отделение: {{ chosen_dept }} <br><br>
            Заведующий: {{ doc }}</p>
        <p class="center-top-text">Выберите тип исследований и нажмите кнопку "выбрать"</p>
    </div>
    <div class="container">

        <form id="research_choice" action="{% url 'ref_to_output' chosen_dept %}" method="POST">
            <table>
            {{ types_list }}
            {{ date_buttons }}
            </table>
            {{ error|safe }}
            {% csrf_token %}
        </form>
    </div>
        <div class="button-container">
            <button form="research_choice" type="submit" class="common_button">Построить отчет</button>
        </div>

</body>
</html>
