<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <title>Research choice</title>
</head>
<body>
        <p class="center-top-text">Отделение: {{ chosen_dept }} <br><br>
            Заведующий: {{ doc }}</p>
        <p class="center-top-text">Выберите тип исследований и нажмите кнопку "выбрать"</p>

    <div class="container">

        <form action="{% url 'ref_to_output' chosen_dept %}" method="POST">
            <table>
            {{ types_list }}
            {{ date_buttons }}
            </table>
        <div class="button-container">
            <button type="submit" class="common_button">Выбрать</button>
        </div>

            {% csrf_token %}
        </form>

        <div class="calendar-container">
            {{ calendar|safe }}
        </div>

    </div>
    <script src="{% static 'calendar_handler.js' %}"></script>

</body>
</html>
