@font-face {
    font-family: 'nbold';
    src: url('Nunito-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: 'nbold', sans-serif;
    background-color: #EDF7F6;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.center-top-text {
    color: #000000;
    background-color: #F6BD8E;
    padding: 20px;
    margin-bottom: 20px;
}

.comm_button {
    text-align: center;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: rgb(54, 73, 88);
    color: white;
    font-family: 'nmed', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.9s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.comm_button:hover {
    background-color: #022B3A;
    letter-spacing: 4px;
    font-weight: bold;
}

.center-top-text p {
    text-align: center;
    margin: 10% 10%;
    font-family: 'nbold', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
