* {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}


@font-face {
    font-family: 'nbold';
    src: url('Nunito-Bold.ttf');
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
          
@font-face {
    font-family: 'nregular';
    src: url('Nunito-Regular.ttf');
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'nmed';
    src: url('Nunito-Medium.ttf');
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 16px;
    font-family: 'nregular', sans-serif;
    background-color: #EDF7F6;
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Responsive Typography with rem units */
.dept-custom,
.r_type-custom,
.datefield-custom {
    font-size: 1rem; /* Use 1rem as the base font size and adjust accordingly */
}

.logo {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.logo img{
    width: 700px;
    max-width: 100%;
    height: auto;
}


.classes_wrap {
    margin: auto;
    margin-top: 50px;
    display: flex;
    font-family: 'nmed',sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px; /* Add some padding to space things out Отделение*/
    box-sizing: border-box; /* Include padding in the element's total width/height */
}



.center-top-text {      /*Выберите отделение*/
    position:relative;
    font-family: 'nbold',sans-serif;
    margin: auto;
    margin-top: 30px;
    text-align:center;
    color: #000000;
    font-size: 20px;
    background-color: #F6BD8E;
    border: 0.5rem solid #ffffff;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    max-width: 100%;
    box-shadow: 15px 15px 15px #BFDBF7;
    width: 70pc; /* Allow text to expand as needed */
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    width: 40pc;
}

.dept-custom {
    /* Add your styling here */
    padding: 20px;
    border: 5px solid #1F7A8C;
    border-radius: 5px;
    text-align: center;
    animation: backwards;
    color: #060c0e;
    font-family: 'nbold',sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
    width: 500px; /* Adjust the width as needed */
    box-shadow: 15px 15px 15px #BFDBF7;
    transition: border-color 0.5s ease-in-out;
    background-color: #E1E5F2;
    border-style: inset;
    border-radius: 30px;
    border-top-color: #cf6b6b;
    width: 60pc;
}

.dept-custom:hover {
    background-color: #ffffff;
    transition: border-color 0.5s ease-in-out;
}

/* Style the field when it is focused (clicked) */
.dept-custom:focus {
    border-color: #F6BD8E; /* Change the border color when focused */
    outline: none; /* Remove the default focus outline (if desired) */
}

.r_type-custom {
    /* Add your styling here */
    padding: 20px;
    border: 3px solid #e7ecea;
    border-radius: 15px;
    width:100%;
    font-family: 'nbold',sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    transition: border-color 0.5s ease-in-out;
    box-sizing:border-box; 
}

.r_type-custom:focus {
    border-color: #D89C6F; /* Change the border color when focused */
    outline: none; /* Remove the default focus outline (if desired) */
}

.datefield-custom {
    /* Add your styling here */
    padding: 15px;
    border: 3px solid #e7ecea;
    border-radius: 15px;
    width:100%;
    font-family: 'nbold',sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    transition: border-color 0.5s ease-in-out;
    box-sizing:border-box; 
   /* Include padding in the element's total width/height */
}

/* Style the field when it is focused (clicked) */
.datefield-custom:focus {
    border-color: #D89C6F; /* Change the border color when focused */
    outline: none; /* Remove the default focus outline (if desired) */
}

.button-container {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10pc;
    height: 4pc;
}

.common_button {
    /* ... Other styles ... */
    /* overflow: hidden; /* Hide any overflowing text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
    padding: 15% 180%;
    background-color: #F6BD8E;
    color: rgb(0, 0, 0);
    font-family: 'nbold', sans-serif;
    border: none;
    border-radius: 10px;
    margin: 20px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 5px 6px rgba(236, 0, 0, 0.2);
}

/* Hover effect */
.common_button:hover {
    background-color: #C47335;
    font-family: 'nbold',sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    clip-path:ellipse(50% 0, 60% 30%, 60% 70%, 0% 80%, 10% 30%, 0% 0%);
    /* Change background color on hover */
}


.center-top-cnt {
    position:relative;
    font-family: 'nbold',sans-serif;
    margin: auto;
    text-align:center;
    color: #000000;
    font-size: 25px;
    background-color: #e97c7c;
    border: 0.5rem solid #ffffff;
    border-radius: 20px ;
    padding: 20px;
    text-align: center;
    max-width: 100%;
    box-shadow: 5px 5px 15px #BFDBF7;
    width: 60pc;
}

.table-container {
    max-height: 200px; /* Set a maximum height for the container */
    overflow: auto; /* Enable both vertical and horizontal scrolling if needed */
    width: 1400px;
}

/* Style the table header */
.dataframe th {
    background-color: #D89C6F;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: -3px;
}

.dataframe th.index-name {
  background-color: #be875c;
  color: #000000;
  text-align: center;
  padding: 10px;
  position: sticky;
  left: 0; /* Sticky to the left */
  z-index: 1; /* Ensure it stays on top */
}

/* Style the table rows */
.dataframe td {
    border: 1px solid #D89C6F;
    text-align: center;
    padding: 8px;
}


/* Hover effect on rows */
.dataframe tbody tr:hover {
    background-color: #e47012;
}

/* Style the table */
.dataframe {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'nbold',sans-serif;
}

/* Style the table header */
.dataframe th {
    background-color: #000000;
    color: rgb(241, 0, 0);
    text-align: center;
    padding: 10px;
}

/* Style the table rows */
.dataframe td {
    border: 1px solid #f70000;
    text-align: center;
    padding: 8px;
}

/* Hover effect on rows */
.dataframe tbody tr:hover {
    background-color: #011d27;
}

/* Style the table */
.dataframe {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style the table header */
.dataframe th {
    background-color: #F6BD8E;
    color: #000000;
    font-family: 'nbold',sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

/* Style the table rows */
.dataframe td {
    border: 1px solid #C47335;
    text-align: left;
    padding: 8px;
}

/* Hover effect on rows */
.dataframe tbody tr:hover {
    background-color: #dfdbd8;
}

